.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  aside {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column;

    aside {
      margin-left: 0;
      width: 100%;
    }
  }
}
