@import "../colors";

.select {
  &, select, option {
    font-size: 1.6rem;
    color: @emerald--40;
    background-color: transparent;
  }

  select {
    margin-left: 1rem;
    border: 1px solid @emerald--30;

    option {
      background-color: @gray--100;
    }
  }
}

@media (max-width: 768px) {
  .select {
    &, select, option {
      font-size: 1.1rem;
    }

    select {
      margin-left: 0.5rem;
      padding: 0.4rem;
      min-height: 2.75rem;
    }
  }
}
